# System variables
## Replace XXXX with the output of the command "id -u"
UID=1000
## Replace XXXX with the output of the command "id -g"
GID=988

# ElasticSearch password
elasticsearch_password=SecretPassword

# Cortex specific configuration
cortex_docker_job_directory=${PWD}/cortex/cortex-jobs

# Versions des images
cassandra_image_version=4.1
elasticsearch_image_version=8.11.3
thehive_image_version=5.2
cortex_image_version=3.1
nginx_image_version=latest


# Nginx
nginx_server_name=localhost
#nginx_ssl_trusted_certificate=/etc/nginx/certs/cert/server.crt
nginx_ssl_trusted_certificate=ssl_trusted_certificate /etc/nginx/certs/server.crt;
